<div class="main-page mb-5">
  <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3 mt-1">
          <div class="card home-card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-8 p-0">
                          <p> Daily transaction volumn</p>
                          <h5>453,000</h5> 
                      </div> 
                      <div class="col-4 p-0">
                          <svg width="64" height="38" viewBox="0 0 64 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.85714 20.2551L1 11.1939V38H63V1L50.8797 11.1939L42.4887 7.79592L28.0376 14.9694L9.85714 20.2551Z" fill="url(#paint0_linear)"/>
                              <path d="M1 11.1939L9.85714 20.2551L28.0376 14.9694L42.4887 7.79592L50.8797 11.1939L63 1" stroke="#0294FF"/>
                              <defs>
                              <linearGradient id="paint0_linear" x1="5.98077" y1="13.257" x2="5.98077" y2="44.3122" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#0294FF" stop-opacity="0.126274"/>
                              <stop offset="1" stop-color="white" stop-opacity="0.01"/>
                              </linearGradient>
                              </defs>
                              </svg> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mt-1">
          <div class="card  home-card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-8  p-0">
                         <p>Daily transaction volumn</p> 
                         <h5>&#x20A6; 453,000</h5>
                      </div> 
                      <div class="col-4 p-0">
                          <svg width="64" height="38" viewBox="0 0 64 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.85714 20.2551L1 11.1939V38H63V1L50.8797 11.1939L42.4887 7.79592L28.0376 14.9694L9.85714 20.2551Z" fill="url(#paint0_linear)"/>
                              <path d="M1 11.1939L9.85714 20.2551L28.0376 14.9694L42.4887 7.79592L50.8797 11.1939L63 1" stroke="#0294FF"/>
                              <defs>
                              <linearGradient id="paint0_linear" x1="5.98077" y1="13.257" x2="5.98077" y2="44.3122" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#0294FF" stop-opacity="0.126274"/>
                              <stop offset="1" stop-color="white" stop-opacity="0.01"/>
                              </linearGradient>
                              </defs>
                              </svg> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mt-1">
          <div class="card  home-card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-8  p-0">
                         <p>Daily transaction volumn</p> 
                         <h5>453,000</h5>
                      </div>
                      <div class="col-4 p-0">
                          <svg width="64" height="38" viewBox="0 0 64 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.85714 20.2551L1 11.1939V38H63V1L50.8797 11.1939L42.4887 7.79592L28.0376 14.9694L9.85714 20.2551Z" fill="url(#paint0_linear)"/>
                              <path d="M1 11.1939L9.85714 20.2551L28.0376 14.9694L42.4887 7.79592L50.8797 11.1939L63 1" stroke="#0294FF"/>
                              <defs>
                              <linearGradient id="paint0_linear" x1="5.98077" y1="13.257" x2="5.98077" y2="44.3122" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#0294FF" stop-opacity="0.126274"/>
                              <stop offset="1" stop-color="white" stop-opacity="0.01"/>
                              </linearGradient>
                              </defs>
                              </svg> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mt-1">
          <div class="card home-card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-8 p-0"> 
                          <p> Total Transaction Volume</p>
                          <h5>&#x20A6; 453,000</h5> 
                      </div> 
                      <div class="col-4 p-0">
                          <svg width="64" height="38" viewBox="0 0 64 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M9.85714 20.2551L1 11.1939V38H63V1L50.8797 11.1939L42.4887 7.79592L28.0376 14.9694L9.85714 20.2551Z" fill="url(#paint0_linear)"/>
                              <path d="M1 11.1939L9.85714 20.2551L28.0376 14.9694L42.4887 7.79592L50.8797 11.1939L63 1" stroke="#0294FF"/>
                              <defs>
                              <linearGradient id="paint0_linear" x1="5.98077" y1="13.257" x2="5.98077" y2="44.3122" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#0294FF" stop-opacity="0.126274"/>
                              <stop offset="1" stop-color="white" stop-opacity="0.01"/>
                              </linearGradient>
                              </defs>
                              </svg> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> 

  <div class="row mt-5">
    <div class="col-md-8  mr-lg-0 pr-lg-0">
      <div class="card home-card">
          <div class="card-body">
            <div class="chart-wrapper">
              <canvas baseChart 
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="lineChartColors"
              [chartType]="barChartType" class="h-100">
             </canvas> 
           </div>
        </div>
      </div>
    </div> 
    <div class="col-md-4 ml-lg-0 pl-lg-0">
      <div class="card home-card">
        <div class="card-body">
          <h5>Orders</h5>  
          <div class="progress mb-3">
            <div class="progress-bar bg-success" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-warning" role="progressbar" style="width:40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
           </div>
          <p>Pending Orders: 20 </p> 
          <p>Reconcilled Orders: 80 </p>
          <p>Total Orders: 100  </p> 
      </div>
      </div>
      <div class="card home-card">  
          <div class="card-body">
              <h5>Payments</h5>  
              <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-warning" role="progressbar" style="width:40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
              <p>Un-reconcilled Payments: 20 </p> 
              <p>Reconcilled Payments: 80 </p>
              <p>Total Payments: 100 </p> 
          </div>
      </div>
    </div> 
       
  </div> 






  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card home-card-main ">
        <div class="card-head pl-4 pt-4"> <h3>Payments</h3></div>
          <div class="card-body p-0"> 
            <div class="tableFilter"> 
              <div class="row">
                <div class="col-6 col-md-4">
                  showing {{end}} out of {{todos?.length}} todos
                </div>
                <div class="col-6 col-md-4">
                  <form>
                    <input name="searchTable" class="searchTable border-0" placeholder="Search payment">
                  </form>
                </div>
                <div class="col-6 col-md-4">
                  <form>
                    Show
                    <select name="selectPayment" class="selectType">
                      <option>All</option>
                      <option>Reconcilled</option>
                      <option>Un-reconcilled</option>
                      <option>Settled</option>
                      <option>Unsettled</option> 
                    </select>
                  </form>
                </div>
                </div>
            </div>
            <table class="table table-main">
              <thead class="thead-main border-0">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">user Id</th>
                  <th scope="col">Task</th>
                  <th scope="col">Progress</th>
                </tr>
              </thead>
              <tbody *ngIf="!todos">
                   <tr>
                     <td class="w-100">
                      <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                     </td>
                   </tr>
              </tbody>
              <tbody *ngIf="todos?.length===0">
                   <tr>
                     <td class="w-100">
                      No data found.
                     </td>
                   </tr>
              </tbody>
              <tbody *ngIf="todos" class="table-main-body">

                <tr  *ngFor="let list of todos | slice:start:end; let i=index">
                  <th scope="row">{{list.id}}</th>
                  <td>{{list.userId}}</td>
                  <td>{{list.title}}</td>
                  <td>
                    <span *ngIf="list.completed" class="bg-success text-white p-1 rounded">Done</span>
                    <span *ngIf="!list.completed" class="bg-warning p-1 rounded">Ongoing</span>
                  </td>
                </tr>
                 
              </tbody>
            </table>  

            
            <div class="row">
              <div class="col-md-6">
                showing {{end}} out of {{todos?.length}} todos
              </div> 
              <div class="col-md-6 text-right">
                <nav aria-label="Page navigation example text-right">
                  <ul class="pagination float-right">
                    <li class="page-item">
                      <a class="page-link text-secondary" (click)="prev()">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                     <li class="page-item">
                      <a class="page-link text-secondary"  (click)="next()">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
              </div> 
          </div>
      </div>
    </div>
  </div> 
</div>