.progress-bar, .progress{
    height:7px
}

select.selectType{
    border: 1px solid #CED0DA;
    box-sizing: border-box;
    border-radius: 2px;
    height:25px;
    background-color:#f7f8fa !important;
}
.tableFilter{
    padding-bottom: 10px;
}

input.searchTable{
    border-bottom: 1px solid #CED0DA !important;
    box-sizing: border-box;
    border-radius: 2px;
    height:25px;
    background-color:#f7f8fa !important;
}
input.searchTable:focus{
  box-shadow: 1px 1px 1px white !important;
  border: 1px solid white !important;
}

.home-card-main{
    background: #f7f8fa;
    border: 1px solid #EEF8FD; 
    border-radius: 2px; 
}

.table-main-body{ 
        background: #ffffff;   
}

.thead-main{
    background-color:#EAEEF0 !important;
    color: rgba(127,143,164,1);
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 19px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

tr{
    padding-top:40px !important;
    padding-bottom:40px !important;
    margin-top: auto;
    margin-bottom: auto;
}

@media(max-width:1000px){
.main-page{
    margin-top: 30px;
  }
}

@media(min-width:1000px){
    .chart-wrapper canvas{
        max-height: 325px 
       }
    }


    @media(min-width:704px) and (max-width:1444px){
    .chart-wrapper canvas{
        min-height: 322px 
       }
    }

.card-head h3{
    font-size:2rem
}